# Enable Powerlevel10k instant prompt. Should stay close to the top of ~/.zshrc.
# Initialization code that may require console input (password prompts, [y/n]
# confirmations, etc.) must go above this block; everything else may go below.
path+=('/usr/local/bin')


HISTFILE=~/.histfile
HISTSIZE=1000
SAVEHIST=1000

setopt autocd beep extendedglob nomatch notify promptsubst

# Enable vim editing mode (BEFORE starship to avoid keymap-select conflicts)
bindkey -v
export KEYTIMEOUT=20  # Reduce escape key delay

# Vim insert mode navigation (home row friendly)
bindkey '^A' beginning-of-line      # Ctrl+A - start of line
bindkey '^E' end-of-line            # Ctrl+E - end of line
bindkey '^[f' forward-word           # Alt+F - forward word
bindkey '^[b' backward-word          # Alt+B - backward word
bindkey '^P' up-line-or-search       # Ctrl+P - history up
bindkey '^N' down-line-or-search     # Ctrl+N - history down

# Home/End keys
bindkey "^[[H" beginning-of-line
bindkey "^[[F" end-of-line

_zsh_funcs="/usr/share/zsh/${ZSH_VERSION:h}/functions"
if [[ -d $_zsh_funcs ]]; then
  fpath=( "$_zsh_funcs" $fpath )
fi

if type brew &>/dev/null
then
  FPATH="$(brew --prefix)/share/zsh/site-functions:${FPATH}"
  # FPATH="~/.zsh/completion:${FPATH}"
fi

fpath=(~/.zsh/completion $fpath)
fpath+=~/.zfunc # autocompletions (poetry, etc...)
fpath+=~/_task

autoload -Uz compinit && compinit -i
autoload -U colors && colors

# case-insensitive matching only if there are no case-sensitive matches
zstyle ':completion:*' matcher-list '' 'm:{a-zA-Z}={A-Za-z}'
export PATH="/usr/local/git/bin:$PATH"

LOCALBINPATH=~/.local/bin
export PATH="$LOCALBINPATH:$PATH"

{{ if stat (joinPath .chezmoi.homeDir "development/flutter/bin") }}
FLUTTERPATH=~/development/flutter/bin
export PATH="$FLUTTERPATH:$PATH"
{{ end -}}


{{ if stat (joinPath .chezmoi.homeDir ".cargo") }}
CARGOPATH=~/.cargo/bin
export PATH="$CARGOPATH:$PATH"
{{ end -}}

{{ if stat (joinPath .chezmoi.homeDir "go/bin") }}
GOBINPATH=~/go/bin
export PATH="$GOBINPATH:$PATH"
{{ end }}

SCRIPTSPATH=~/scripts
export PATH="$SCRIPTSPATH:$PATH"

{{ if eq .chezmoi.os "darwin" -}}
AWSPATH=/opt/homebrew/bin/aws_completer
export PATH="$AWSPATH:$PATH"
{{ end -}}

. ~/.zsh_aliases
. ~/.zsh_completion
{{ if eq .chezmoi.os "linux" -}}
# Linuxbrew setup
if [[ -d /home/linuxbrew/.linuxbrew ]]; then
    eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
fi
{{ end -}}

{{ if eq .chezmoi.os "darwin" -}}
. $(brew --prefix)/share/antidote/antidote.zsh
{{ else if eq .chezmoi.os "linux" -}}
. $(brew --prefix)/share/antidote/antidote.zsh
{{ end -}}

# Load ZSH plugins
antidote load

# fzf integration for fuzzy history search (Ctrl+R)
# Beautiful bottom popup layout with border
export FZF_CTRL_R_OPTS="
  --height 50%
  --layout reverse
  --border rounded
  --border-label ' Command History '
  --prompt '❯ '
  --info inline-right
  --header 'Press Ctrl+R to toggle sort'
  --header-first
  --color header:italic
"
source /usr/share/doc/fzf/examples/key-bindings.zsh

{{ if eq .chezmoi.os "darwin" -}}
eval $(SHELL=/bin/sh lesspipe.sh)
{{ else if eq .chezmoi.os "linux" -}}
eval $(SHELL=/bin/sh lesspipe)
{{ end -}}

eval "$(zoxide init zsh)"
eval "$(starship init zsh)"

# Fix starship + vim mode recursion bug (https://github.com/starship/starship/issues/5522)
autoload -Uz add-zle-hook-widget
zle -D zle-keymap-select 2>/dev/null
add-zle-hook-widget zle-keymap-select starship_zle-keymap-select

gpgconf --launch gpg-agent

zstyle ':completion:*' menu select


auto_activate_venv() {
    for venv_dir in venv .venv env .env; do
        if [ -f "$PWD/$venv_dir/bin/activate" ]; then
            source "$PWD/$venv_dir/bin/activate"
            echo "Activated virtual environment: $PWD/$venv_dir"
            return
        fi
    done
}

# Hook into directory changes
autoload -U add-zsh-hook
add-zsh-hook chpwd auto_activate_venv

# Run for the initial directory on shell startup
auto_activate_venv

